# Kafka
KAFKA_BROKER=localhost:9092

# Redis
REDIS_URL=redis://localhost:6379

# Postgres Databases
ORDERS_DB_HOST=localhost
ORDERS_DB_PORT=5435

CATALOG_DB_HOST=localhost
CATALOG_DB_PORT=5434

CUSTOMERS_DB_HOST=localhost
CUSTOMERS_DB_PORT=5433

LOGS_DB_HOST=localhost
LOGS_DB_PORT=5436

# Security
JWT_SECRET=super_secret_key_change_me_in_prod

# Service Ports
PORT=3000
WS_PORT=4000
